.nancy-img{
width: 100%;
max-width: 400px;
height: auto;
border-radius: 10px;
}

.img-container {

display: flex;
justify-content: left;

}

.alla-texter {
    text-align:left
}

h1 {
    text-align: left;
}
