.nancy-img {

    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;

}

.img-container {

    margin: 2rem;
    display: flex;
    justify-content: left;

}



h1 {
    text-align: left;
}

.alla-texter {
    text-align: left
}