/* Color variables */

:root {
    --color-bg: #fff;
    --color-primary: #fff;
    --color-secondary: #fff;
    --color-tertiary: #fff; 

    /* Inga färger bestämda än.*/
    /* När vi applicerar en färg på ett element, skriv color: var(--din-valda-färgvariabel) */
    /* läs mer på MDN web docs: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties */
}

/* Basic styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */

/* Layout */

/* Page-specific */

